body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Individual buttons in the r_list_display */
.email_item {
	font-size: 12px;
	height: 29px;
	vertical-align: 'center';
	color: #000000;
	border: 1px solid #AAAAAA;
	/*
	background-color: #AAAAAA;
	*/
	margin-bottom: 2px;
	line-height: 0px;

	text-decoration: none;
	padding: 0px;
	border-radius: 8px;
}

/* Top heading */
.r_list_display {
	margin-left: 3px;
	text-decoration: none;
	padding: 0px;
	color: #000000;
	border: 0px solid #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input_columns {
	margin-right: 186px;
	margin-left: 5px;
}

.input_columns_last {
	margin-left: 5px;
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
	body {
	background-color: #1f1f1f;
	color: #ffffff;
    /* Other dark theme styles */
  }
  .r_list_display {
	  color: #ffffff;
  }
}
